@import url('https://fonts.googleapis.com/css?family=Poppins:400,500,700');
html{
    scroll-behavior: smooth;
}
.Info{
	text-align: center;
	background-image:url(Images/Background.jpg);
	border: 300px;	
	background-repeat: no-repeat;
	width: 100%;
	padding-top:250px;
	padding-bottom:250px;
	font-family: Britannic Bold,Helvitica,Times New Roman;
}
.Info h3{
	color: white;
}
.Info h4{
	color: #F1C40F;
}
.flex-container {
    display: flex;
    justify-content: center;
	flex-wrap:wrap;
}  
.card{
    image-resolution: 273px,183px;
    height: 28em;
}
.one{
	color: coral;
	text-align: center; 
	padding: 25px;
	font-family: Bernard MT Condensed,Helvitica,Times New Roman;
	}
/*.About{
	
	color: #fff;
	float: left;
	width: 33.3%;
	height: 85vh;
	color: #fff;
	padding: 100px;
	background-color: #333;
	border: 1px solid red;
	box-sizing: border-box;
}*/

.Projects{
	font-family: Bahnschrift SemiBold SemiConden,Helvetica, Times New Roman;
	text-align: center;
	background-image:url(Images/bap.jpg);
	font-size: 20px;
	line-height: 2em;
	margin-top: 2vh;
	padding-top:160px;
	padding-bottom:160px;
	background-repeat: no-repeat; 
	color: #fff;
}
.Projects h4{
	padding-left:0.5cm;
	padding-right:0.5cm;
}
.Projects h2{
	padding-left:0.5cm;
	padding-right:0.5cm;
}
.Skills{
	font-family: Comic Sans MS,Helvetica,polo;
	background-color: #FCF3CF;
	padding:40px;
	font-size: 25px;
	text-align: center;
}
.abilities li:nth-child(odd)
{
	background:#82E0AA;
}
.abilities li:nth-child(even)
{
	background:#FFC300;
}
.copyright{
    height: 2 cm;
	padding: 5px;
	background-color: black;
	color: white;
	text-align: center;
}
/*.pictures{
	float left;
	width: 33.3%;
	box-sizing: border-box;
}*/
.Contact{
    display: block;
    text-align:  center;
    margin-top: 0.5cm;
    margin-bottom: 0.5cm;
}
